<footer>
    <div>
        <a href="http://<%= data.server %>:<%= data.port %>/help/getvendor">getvendor</a>
    </div>
    <div>
        <a href="http://<%= data.server %>:<%= data.port %>/help/getproduct">getproduct</a>
    </div>
    <div>
        <a href="http://<%= data.server %>:<%= data.port %>/help/getvendors">getvendors</a>
    </div>
    <div>
        <a href="http://<%= data.server %>:<%= data.port %>/help/setvendoractive">setvendoractive</a>
    </div>
    <div>
        <a href="http://<%= data.server %>:<%= data.port %>/help/getproducts">getproducts</a>
    </div>
    <div>
        <a href="http://<%= data.server %>:<%= data.port %>/help/setproductactive">setproductactive</a>
    </div>

    <div>
        <a href="http://<%= data.server %>:<%= data.port %>/help/savevendor">savevendor</a>
    </div>
    <div>
        <a href="http://<%= data.server %>:<%= data.port %>/help/saveproduct">saveproduct</a>
    </div>
    <div>
        <a href="http://<%= data.server %>:<%= data.port %>/help/updateproduct">updateproduct</a>
    </div>
    <div>
        <a href="http://<%= data.server %>:<%= data.port %>/help/updatevendor">updatevendor</a>
    </div>
    <div>
        <a href="http://<%= data.server %>:<%= data.port %>/help/savesubmission">savesubmission</a>
    </div>
    <div>
        <a href="http://<%= data.server %>:<%= data.port %>/help/getsubmissions">getsubmissions</a>
    </div>
    <div>
        <a href="http://<%= data.server %>:<%= data.port %>/help/saveuser">saveuser</a>
    </div>
    <div>
        <a href="http://<%= data.server %>:<%= data.port %>/help/login">login</a>
    </div>
</footer>

